.loadingScreen {
   min-height: 87vh;
   color: white;
   text-align: center;
}

.loadingScreen img {
   margin-top: 100px;
   width: 40%;
}

.errorScreen {
   min-height: 87vh;
   color: rgb(104, 11, 11);
   text-align: center;
   font-weight: 700;
}

.errorScreen img {
   margin-top: 100px;
   width: 20%;
}

.backBtn {
   outline: none;
   background-color: rgba(240, 248, 255, 0.527);
   border: none;
   border-radius: 5px;
   color: rgb(104, 11, 11);
   margin-left: 5px;
}

/* MEDIA */
@media (max-width: 500px) {
   .loadingScreen img {
      margin-top: 200px;
      width: 70%;
   }

   .errorScreen img {
      margin-top: 200px;
      width: 40%;
   }
}