body {
  margin: 0 auto;
  font-family:  'Merriweather', serif;
  background-color: black;
}

a {
  text-decoration: none;
  color: #f5deb3;
  transition: all 0.8s;
}

a:hover {
  color: wheat;
  text-shadow: -10px -10px 2px white;
}

