.navbar_ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
   display: flex;
   justify-content: space-between;

}

.navbar_row {
   align-items: center;
}

.logo_img {
   width: 8%;
}

/* MEDIA */
@media (max-width: 500px) {
   .box_logo {
      text-align: center;
   }
}