.screen_sydney {
   background-image: url(https://s1.1zoom.ru/big0/427/Australia_Houses_Coast_Sydney_Bay_567449_1280x774.jpg);
   background-position: 10%;
   background-size: cover;
   min-height: 89vh;
   text-align: center;
   font-size: 1.5rem;
}

.description_sydney {
   padding-top: 100px;
   color:rgb(15, 15, 15);
}

.description_sydney h1 {
   font-weight: 700;
   font-size: 3rem;
}

.logo_weather_sydney {
   width: 3%;
}

/* MEDIA */
@media (max-width: 500px) {
   .logo_weather_sydney {
      width: 10%;
   }
}