.screen_main {
   background-image: url(https://s1.1zoom.ru/big0/417/Christmas_Christmas_tree_Balls_Snowflakes_Star_609429_1280x853.jpg);
   background-size: cover;
   min-height: 89vh;
   text-align: center;
   font-size: 1.5rem;
}

.screen_main_main {
   background-image: url(https://s1.1zoom.ru/big0/352/Christmas_Christmas_tree_Snowflakes_Red_background_609813_1280x853.jpg);
   background-size: cover;
   background-position: 10%;
   min-height: 89vh;
   text-align: center;
   font-size: 1.5rem;
}

.description_main {
   padding-top: 100px;
   color: blanchedalmond;
}

.description_main button {
   outline: none;
   background-color: rgba(240, 248, 255, 0.527);
   border: none;
   border-radius: 5px;
   color: blanchedalmond;
   margin-left: 5px;
}

.description_main h1 {
   font-weight: 700;
   font-size: 3rem;
}

.logo_weather_main {
   width: 3%;
}

.search_box {
   padding-top: 100px;
}

.search_box input {
   outline: none;
   background-color: rgba(240, 248, 255, 0.226);
   border: none;
   border-radius: 5px;
   color: blanchedalmond;
}

.search_box h1 {
   color: blanchedalmond;
}

.search_box button {
   outline: none;
   background-color: rgba(240, 248, 255, 0.527);
   border: none;
   border-radius: 5px;
   color: blanchedalmond;
   margin-left: 5px;
}


/* MEDIA */
@media (max-width: 500px) {
   .logo_weather_main {
      width: 10%;
   }
   .search_box button {
      margin-top: 2px;
   }
   .screen_main {
      background-position: 48%;
   }
   .screen_main_main {
      background-position: 100%;
   }
}