.screen_tokyo {
   background-image: url(https://s1.1zoom.ru/big0/137/344940-svetik.jpg);
   background-size: cover;
   min-height: 89vh;
   text-align: center;
   font-size: 1.5rem;
}

.description_tokyo {
   padding-top: 100px;
   color:rgb(255, 223, 176);
}

.description_tokyo h1 {
   font-weight: 700;
   font-size: 3rem;
}

.logo_weather_tokyo {
   width: 3%;
}

/* MEDIA */
@media (max-width: 500px) {
   .logo_weather_tokyo {
      width: 10%;
   }
}