.screen_kyiv {
   background-image: url(https://look.com.ua/pic/201602/1920x1080/look.com.ua-149997.jpg);
   background-position: 10%;
   background-size: cover;
   min-height: 89vh;
   text-align: center;
   font-size: 1.5rem;
}

.description_kyiv {
   padding-top: 100px;
   color:rgb(15, 15, 15);
}

.description_kyiv h1 {
   font-weight: 700;
   font-size: 3rem;
}

.logo_weather_kyiv {
   width: 3%;
}

/* MEDIA */
@media (max-width: 500px) {
   .logo_weather_kyiv {
      width: 10%;
   }
}