.screen_london {
   background-image: url(https://s1.1zoom.ru/big0/514/England_Rivers_Bridges_Riverboat_Evening_London_590744_1280x853.jpg);
   background-size: cover;
   min-height: 89vh;
   text-align: center;
   font-size: 1.5rem;
}

.description_london {
   padding-top: 100px;
   color: blanchedalmond;
}

.description_london h1 {
   font-weight: 700;
   font-size: 3rem;
}

.logo_weather_london {
   width: 3%;
}

/* MEDIA */
@media (max-width: 500px) {
   .logo_weather_london {
      width: 10%;
   }
}